$helvetica: 'Plus Jakarta Sans';
$c-black: #18181a !default;

$lightGrey: #F3F3F3;

$dark_bg: #171f29 !important;

$white_shade: #f7faff;

$dark_border: #252d37;

/************************ DASHBOARD UI KIT ***********************/

$ui_header_bg: #131523;

$grey: #e8eef3;

$light_grey: #f1f1f3;

$dark_grey: #444550;

$darkest_grey: #2d2e35;

$dark_text: #28313c;

$light_text: #4b5563;

$blue: rgb(23, 114, 218);

$red: #D30000;

$yellow: #FCBD01;

$light_green: #39e500;

$dark_green: #2CB100;

$additional_grey: #F2F4F7;

$pink: #ea4c89;

$amt_grey: #e7e9eb;

$default-c-black: #18181a !default;
$default-lightGrey: #F3F3F3;
$default-dark_bg: #171f29 !important;
$default-white_shade: #f7faff !important;
$default-dark_border: #252d37 !important;
/************************* DASHBOARD UI KIT ***********************/
$default-ui_header_bg: #131523 !important;
$default-grey: #e8eef3 !important;
$default-light_grey: #f1f1f3 !important;
$default-dark_grey: #616e80 !important;
$default-darkest_grey: #4d4f5c !important;
$default-dark_text: #28313c !important;
$default-light_text: #99A5B5 !important;
$default-blue: #1d82f5 !important;
$default-red: #D30000 !important;
$default-yellow: #FCBD01 !important;
$default-light_green: #39e500 !important;
$default-dark_green: #2CB100 !important;
$default-additional_grey: #F2F4F7 !important;
$default-pink: #ea4c89 !important;
$default-amt_grey: #e7e9eb !important;
